.about__main {
  background-image: url(../../assets/image/BG\ section\ acerca\ de.png);
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
